                      /*------------------------------ Variables ------------------------------*/
:root {
  --logoColor: #5B94FD;
  --logoColorHover: #034EEC;

  --TextColor-050: #000;
  --TextColor-100: #FFF;
  --TextColor-200: #5B94FD9F;
  --TextColor-300: #5B94FD6f;
  --TextColor-400: #5B94FD2f;
  --TextColor-500: #0000008F;
  --TextColor-600: #034EEC;

  --transiton: 400ms ease-in-out; 
  --borderRadiusLink: 15px 0 10px 0;
  --boxShadow-100: 2px 2px 0 #FFF;
  --boxShadow-200: 2px 2px 0 #000;

  --bgColor: linear-gradient(100deg, #2183801f, #2183808f);
  --bgColorLinkHover: #034EEC;

  --animationText: fadeInUp ease-in-out forwards;
}
  * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  /* background: var(--bgColor); */
}
                      /*------------------------------ Header ------------------------------*/
.header {
  width: 100%;
  padding: 0 15px 0 15px;
  display: flex;
  z-index: 10000;
  align-items: center;
  justify-content: space-between;
  position: fixed;
}
.header__logo {
  font-size: 3em;
}
.header__logo--link {
  color: var(--logoColor);
}
.header__logo--link:hover {
  color: var(--logoColorHover);
  transition: var(--transiton);
}
header.sticky {
  background-color: #FFFFFF9F;
}

                      /*------------------------------ Navigation ------------------------------*/
.navigation {
  width: 40%;
}
.navigation__item {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation__item--link a {
  color: var(--TextColor-200);
}
.navigation__item--link a:hover{
  color: var(--TextColor-100);
  transition: var(--transiton);
  background: var(--bgColorLinkHover);
  border-radius: var(--borderRadiusLink);
  border-bottom: 2px solid #000;
}

                      /*------------------------------ Section ------------------------------*/

.section {
  height: 100vh;
  width: 100%;
}
.section__message {
  opacity: 0;
  font-size: 8em;
  position: absolute;
  color: var(--TextColor-200);
  text-shadow: 2px 2px 2px #FFF;
  transform: translateY(3em);
}
.section__message:hover {
  color: var(--TextColor-400);
  text-shadow: 0 0 0;
  cursor: pointer;
}
.section__message--1 {
  top: 100px;
  animation: var(--animationText) 2s; 
}
.section__message--2 {
  top: 250px;
  animation: var(--animationText) 3s; 
}
.section__message--3 {
  top: 400px;
  animation: var(--animationText) 4s; 
}
.section__image {
  background-image: url('../image/bg-image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  position: inherit;
  height: 100vh;
}

                      /*------------------------------ Main ------------------------------*/
.main__section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
}
.main__section__image {
  background-repeat: no-repeat;
}
.main__section__item--2 {
  text-align: center;
}
.main__section__text--title {
  font-size: 4em;
  color: var(--TextColor-600);
}
.main__section__text--1 {
  font-size: 3em;
  color: var(--TextColor-200);
}
.main__section__text--2 {
  font-size: 3em;
  padding-top: 200px;
  color: var(--TextColor-300);
}
                      /*------------------------------ Responsive Menu ------------------------------*/
                      /*------------------------------ Media Queries --------------------------------*/
@media (max-width: 991px) {
  .navigation {
    display: none;
  }
  .header .navigation.active {
    width: 100%;
    height: calc(100% - 68px);
    position: fixed;
    top: 68px;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
  }
  .menuToggle {
    width: 50px;
    height: 50px;
    background: #000;
  }
  .menuToggle.active {
    background: #007fe6;
  }
  .header.sticky .menuToggle {
    filter: invert(1);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}