                      /*------------------------------ Variables ------------------------------*/
:root {
  --logoColor: #5B94FD;
  --logoColorHover: #034EEC;

  --textColor-050: #000;
  --textColor-100: #FFF;
  --textColor-200: #5B94FD9F;
  --textColor-300: #5B94FD6f;
  --textColor-400: #5B94FD2f;
  --textColor-500: #0000008F;
  --textColor-600: #034EEC;
  --textShadow-100: 2px 2px 2px #FFF;

  --transiton: 400ms ease-in-out; 
  --borderRadiusLink: 15px 0 10px 0;
  --boxShadow-100: 2px 2px 0 #FFF;
  --boxShadow-200: 2px 2px 0 #000;
  --boxShadow-300: 2px 2px 10px blue;

  --bgColor: linear-gradient(100deg, #2183801f, #2183808f);
  --bgColorFooter: #034EEC;
  --bgColorLinkHover: #034EEC;

  --bgButton: #5B94Fd;
  --bgButtonHover: #034EEC;

  --animationText: fadeInUp ease-in-out forwards;
}
  * {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  box-sizing: border-box;
  scroll-behavior: smooth;
}
body {
  width: 100%;
  height: 100vh;
  font-family: sans-serif;
  /* background: var(--bgColor); */
}
                      /*------------------------------ Header ------------------------------*/
.header {
  position: fixed;
  z-index: 10000;
  width: 100%;
  padding: 0 15px 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header__logo {
  font-size: 3em;
}
.header__logo--link {
  color: var(--logoColor);
}
.header__logo--link:hover {
  color: var(--logoColorHover);
  transition: var(--transiton);
}
header.sticky {
  background-color: #FFFFFF9F;
}

                      /*------------------------------ Navigation ------------------------------*/
.navigation {
  width: 40%;
}
.navigation__item {
  font-size: 1.5em;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
.navigation__item--link a {
  color: var(--textColor-200);
}
.navigation__item--link a:hover{
  color: var(--textColor-100);
  background: var(--bgColorLinkHover);
  border-radius: var(--borderRadiusLink);
  transition: var(--transiton);
}

                      /*------------------------------ Main ------------------------------*/

.main {
  width: 100%;
  height: 100vh;
}
.main__message {
  position: absolute;
  font-size: 8em;
  color: var(--textColor-200);
  text-shadow: var(--textShadow--100);
  transform: translateY(3em);
  opacity: 0;
}
.main__message:hover {
  color: var(--textColor-400);
  text-shadow: 0 0 0;
  cursor: pointer;
}
.main__message--1 {
  top: 100px;
  animation: var(--animationText) 2s; 
}
.main__message--2 {
  top: 250px;
  animation: var(--animationText) 3s; 
}
.main__message--3 {
  top: 400px;
  animation: var(--animationText) 4s; 
}
.main__image {
  position: inherit;
  height: 100vh;
  background-image: url('../images/bg-image-1.jpg');
  background-repeat: no-repeat;
  background-size: cover;
}

                      /*------------------------------ Section ------------------------------*/
.section {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  overflow: auto;
}
.section__image {
  background-repeat: no-repeat;
}
.section__item--2 {
  text-align: center;
}
.section__text--title {
  font-size: 4em;
  color: var(--textColor-600);
}
.section__text--1 {
  font-size: 3em;
  color: var(--textColor-200);
}
.section__button {
  padding: 20px 40px;
  border: 1px solid blue;
  font-size: 2em;
  color: var(--textColor-100);
  border-radius: 5px;
  background-color: var(--bgButton);
  transition: 200ms;
}
.section__button:hover {
  cursor: pointer;
  background-color: var(--bgButtonHover);
}
.section__button:active {
  box-shadow: var(--boxShadow-300);
}

                      /*------------------------------ Footer ------------------------------*/
.footer {
  height: 100vh;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: space-evenly;
  background-color: var(--bgColorFooter);
}
.footer__image {
  height: 100vh;
  display: flex;
  align-items: center;
  background-repeat: no-repeat;
}
.footer__social {
  color: #FFF;
  font-size: 1em;
}
.footer__social--image:hover {
  color: var(--textColor-050);
}
.footer__social--image {
  color: #FFF;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.footer__form--contact {
  color: var(--textColor-100);
  font-size: 1.2em;
  display: flex;
  align-items: center;
}
.footer__form--contact:hover {
  color: #000;
  cursor: pointer;
}



                      /*------------------------------ Responsive Menu ------------------------------*/
                      /*------------------------------ Media Queries --------------------------------*/
@media (max-width: 991px) {
  .navigation {
    display: none;
  }
  .header .navigation.active {
    position: fixed;
    left: 0;
    top: 68px;
    width: 100%;
    height: calc(100% - 68px);
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }
  .menuToggle {
    width: 50px;
    height: 50px;
    background: #000;
  }
  .menuToggle.active {
    background: #007fe6;
  }
  .header.sticky .menuToggle {
    filter: invert(1);
  }
}

@keyframes fadeInUp {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}